.react-calendar {
    border: 0 !important;
    text-decoration: none !important;
    
 
    
}

.react-calendar__tile {
    background-color: #FFFFFF;
    color:black;
    font-weight:600;
   
   
   
}



